<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>M.U. Harry Potter M.U.</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
  </head>
  <body>
    <header>
<!--      <h1>Hogwarts Characters</h1>-->
      <div class="top-container">
    <div class="title-text">
      <h1>I'm Magdalena</h1>
      <h2>a big fan of <span class="pro">"The Boy Who Lived"</span></h2>
    </div>

  </div>

  <div class="middle-container">
    <div class="profile">
      <img src="static/images/my_pict.jpeg" alt="megi-profile-img" class="picture">
      <h2>Hello.</h2>
      <p class="intro">I am programmer.
        Learning - Python language.
        This website is based on API's. Choose what do you want to find out about:
        <span class="pro">Harry</span> <span class="pro">Potter</span>
      </p>
    </div>
    <hr>
      </header>
    <main>
      <form action="/characters" method="POST">
        <label for="category">Select a category:</label>
        <select name="category" id="category">
          <option value="Gryffindor">Gryffindor</option>
          <option value="Hufflepuff">Hufflepuff</option>
          <option value="Ravenclaw">Ravenclaw</option>
          <option value="Slytherin">Slytherin</option>
        </select>
        <button type="submit">Show Characters</button>
      </form>
    </main>
    <!-- link to your JavaScript file -->
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you love HP like I do, text me!</h3>
      <p class="contact-message">If you have any advice about website, please send it :) </p>
      <div class="contact_with_me">
      <a class="btn" href="mailto:magdauchman93@gmail.com">CONTACT ME</a></div>
    </div>

      <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/feed/">LinkedIn</a>
    <a class="footer-link" href="">Twitter</a>
    <a class="footer-link" href="https://www.facebook.com/meg.fanpage/">Facebook</a>
    <p class="copyright">Made by Megi ©2023</p>
  </div>

  </body>
</html>


